* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  width: 100%;
  height: 5rem;
}


.logo {
  color: white;
  height: 3rem;
}

.list-nav li {
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
  font-weight: bold;
  color: white;
}

.main {
  width: 80%;
  margin: auto;
}

section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h1 {
  font-size: 2rem;
}


.text {
  color: #858585;
}

.button-text {
  color: white;
  padding: 1rem 1.5rem;
  background-color: rgba(157, 123, 181, 0.5);
  transition: .5s ease;
}

.button-text:hover {
  background-color: rgb(157, 123, 181);
}



.button-text-teal {
  color: white;
  padding: 1rem 1.5rem;
  background-color: rgba(94, 184, 136, 0.5);
  font-size: 2rem;
}



a {
  text-decoration: none;
}

#example-five {
  position: relative;
}
#example-five-checkbox {
  display: none;
}
#example-five-checkbox:checked + #example-five:after {
  content: "mándanos un correo a contacto@buscandonos.org";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  padding: 1rem 1.5rem;
  background-color: rgba(94, 184, 136, 0.5);
}


.image-1, .image-2 {
  background-size: cover;
  text-align: center;
  height: 20rem;
  position: relative;
}

.image-1 {
  background: url(pic1.png);
}

.image-2 {
  background: url(pic2.png);
}

.reporta {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}


h3 {
  font-size: 3rem;
}

.pic {
  width: 100%;

}

.bg-purple {
  background-color: #9D7BB5;
}

.bg-teal {
  background-color: #5EB888;
}

.text-teal {
  color: #5EB888;
}

.text-purple {
  color: #9D7BB5;
}

.centered {
  text-align: center;
}

.right-align {
  text-align: right;
}

footer {
  height: 6rem;
  background-color: #222;
  color: white;
  padding: 2rem;
  text-align: center;
  margin-top: 2rem;
}


/*responsive grid*/

[class*="col-"] {
    float: left;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
